.availableClubs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.availableClubs-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    -webkit-box-shadow: -2px -1px 8px 1px rgba(0, 0, 0, 0.24);
        box-shadow: -2px -1px 8px 1px rgba(0, 0, 0, 0.24);
}

.availableClubs-clubName {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.availableClubs-applyButton {
    background-color: var(--tertiary-color);
    color: var(--white-color);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.availableClubs-applyButton.pending {
    background-color: #95a5a6;
    cursor: not-allowed;
}