/* 3A7BBA
000000
ffffff
*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
}

.signup-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-inline: 10px;
    margin-bottom: 30px;
}

.signup-header-title {
    font-size: 20px;
    color: #3A7BBA;
    text-shadow: 0px 0px 0px 1px black;
    word-spacing: 0.03px;
}

.signup-header-line {
    margin-top: -10px;
    margin-bottom: 60px;
}

.signup-login {
    font-size: 12px;
    text-decoration: dotted;
}

.signup-login-link:hover {
    text-decoration: underline;
}

.signup-login-link {
    color: #3A7BBA;
    text-shadow: 0px 0px 0px 1px black;
    cursor: pointer;
}

.signup-main {
    display: flex;
    justify-content: center;
    margin-top:40px;
    width: 90vw;
    margin: 0 auto;
}

.signup-form-header {
    margin-bottom: 20px;
    min-width: 100%;
}

.signup-form-header-title {
    font-size: 35px;
}

.signup-form-header-cap {
    font-size: 15px;
    color: rgb(157, 153, 153);
}


.signup-username-container {
    display: flex;
    align-items: center;
    border: 1.5px solid black;
    margin-bottom: 10px;
    min-width: 100%;
    padding: 0.4rem 0.8rem;
}

.signup-username {
    border: none;
    outline: none;

}

.signup-username-icon {
    margin-right: 5px;
}

.signup-password-container {
    display: flex;
    align-items: center;
    border: 1.5px solid black;
    padding: 0.4rem 0.8rem;
    min-width: 100%;
}

.signup-password {
    border: none;
    outline: none;
    width: 100%;
}

.signup-password-icon {
    margin-right: 5px;
}

.signup-error-message {
    color: red;
    font-size: 16px;
    margin-top: 4px;
    font-weight: 500;
    margin-bottom: 4px;
}




.signup-image {
    display: none;
}


.signup-btn {
    height: 35px;
    margin-top: 5px;
    background-color: #3A7BBA;
    border: none;
    color: white;
    width: 130px;
    border-radius: 20px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #2E5C9B;
}

.signup-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

@media(min-width:600px) {
    .signup-image {
        display: inline-block;
        width: 300px;
        height: 400px;
    }

    .signup-main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 20px;
    }

    .signup-header-line {
        margin-bottom: 50px;
        display: none;
    }

    .signup-header-title {
        font-size: 40px;
        word-spacing: 0.0000000005px;
    }

    .signup-form-container {
        width: 400px;
    }

    .signup-form-header {
        margin-bottom: 30px;
    }

    .signup-form-header-title {
        font-size: 50px;
    }

    .signup-form-header-cap {
        font-size: 20px;
    }

    .signup-username-container,
    .signup-password-container {
        padding: 0.5rem 1rem;
    }

    .signup-username,
    .signup-password {
        font-size: 20px;
        width: 100%;
    }

    .signup-btn {
        height: 50px;
        width: 150px;
        font-size: 20px;
        border-radius: 40px;
    }

    .signup-login {
        font-size: 20px;
    }

    .signup-header {
        padding-inline: 30px;
    }
}

@media screen and (max-width: 410px) {

    .signup-header-title {
        font-size: 14px;
    }
}

